<template>
  <v-autocomplete
    v-model="location"
    :items="candidates"
    :loading="loadingResults"
    :search-input.sync="search"
    hide-no-data
    item-text="description"
    prepend-icon="fa-map-marker-alt"
    placeholder="Start typing to Search"
    clearable
    return-object
    @change="select"
  />
</template>

<script>
import debounce from "debounce";
import locations from "#content/locations";

export default {
  props: {
    value: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      location: null,
      searchCandidates: [],
      search: "",
      loadingResults: false,
      cancelNextSearch: false
    };
  },
  computed: {
    candidates() {
      return locations
        .map(loc => ({ ...loc, place_id: loc.id }))
        .concat(this.searchCandidates);
    }
  },
  watch: {
    search(value) {
      if (!value) {
        return;
      }
      // Debounce the input and wait for a pause of at
      // least 500 milliseconds.
      debounce(this.makeSearch, 500)(value, this);
    }
  },
  created() {
    this.cancelNextSearch = true;
    this.location = this.value;
    if (this.location) this.searchCandidates = [this.location];
  },
  methods: {
    select() {
      this.cancelNextSearch = true;

      let location = this.location;
      if (this.location) {
        let vm = this;
        let { place_id } = location;
        this.$axios
          .get("/api/geocode", {
            params: {
              place_id
            }
          })
          .then(response => {
            vm.location.location = response.data.location;
            vm.$emit("input", vm.location);
          })
          .catch(error => {
            console.error(error);
          });
      }
    },
    makeSearch: async (input, vm) => {
      // Handle empty value
      if (!input) {
        vm.searchCandidates = [];
      }
      // Items have already been requested
      if (vm.loadingResults) {
        return;
      }
      if (vm.cancelNextSearch) {
        vm.cancelNextSearch = false;
        return;
      }

      vm.loadingResults = true;
      await vm.$axios
        .get("/api/autocomplete", {
          params: {
            input
          }
        })
        .then(response => {
          vm.searchCandidates = response.data;
        })
        .catch(error => {
          vm.error = "Unknown Error. Please check details and try again.";
        })
        .finally(() => (vm.loadingResults = false));
    }
  }
};
</script>
