<template>
  <v-dialog v-model="open" eager width="90vw">
    <template v-slot:activator="{ on }">
      <v-btn block light v-on="on"> Ship : {{ ship.name }} </v-btn>
    </template>
    <v-card>
      <v-card-actions>
        <v-autocomplete
          v-model="shipName"
          label="Ships"
          :items="ships"
          item-text="name"
          item-value="name"
        />
      </v-card-actions>
      <v-sheet color="secondary lighten-5" tile>
        <v-card-text>
          <v-row>
            <v-col cols="6">
              <canvas ref="chart" width="500" height="500" />
            </v-col>
            <v-col cols="6">
              <v-sheet color="primary" elevation="4" tile>
                <div class="fill-height pa-2">
                  <v-img :src="ship.img" aspect-ratio="1" />
                </div>
              </v-sheet>
            </v-col>
          </v-row>
        </v-card-text>
      </v-sheet>

      <v-card-actions>
        <v-btn block @click="open = false">
          done
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import _ from "lodash";
import Chart from "chart.js";
import ships from "#content/ships";

export default {
  data: () => ({
    open: false,
    shipName: "Amel64"
  }),
  computed: {
    ships() {
      return ships.map(name => ({ name }));
    },
    ship() {
      let name = this.shipName;
      let ship = require(`#content/ships/${name}.json`);
      return ship;
    }
  },
  watch: {
    shipName(val) {
      console.log(val);
      this.$chart.data = this.chartData();
      this.$chart.update();
    }
  },
  mounted() {
    let data = this.chartData();
    this.$chart = new Chart(this.$refs.chart, {
      type: "radar",
      data,
      options: {
        legend: {
          display: false
        },
        scale: {
          ticks: {
            // display: false
          },
          gridLines: {
            drawTicks: false
          },
          angleLines: {
            display: false
          },
          pointLabels: {
            display: false
          }
        }
      }
    });
  },
  methods: {
    chartData() {
      let range = _.range(0, 180, 5);
      range = range.concat(range.map(x => 180 - x));

      let $data = {
        labels: range,
        datasets: []
      };
      let ship = this.ship;
      ship.speed.windSpeeds.forEach(speed => {
        let data = range.map(angle => ship.speed.data[angle][speed]);
        $data.datasets.push({
          label: `${speed}`,
          pointRadius: 0,
          data
        });
      });

      return $data;
    }
  }
};
</script>

<style>
.polar-diagram {
  max-height: 60vh;
}
</style>
