<template>
  <v-dialog v-model="dialog" persistent max-width="800px">
    <template v-slot:activator="{ on }">
      <v-btn color="accent" absolute bottom right v-on="on">
        <v-icon>fa-map-marked</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="headline">New Odyssey</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-select
                v-model="algorithm"
                :items="algorithms"
                :disabled="algorithms.length < 2"
                label="Algorithm"
                item-text="title"
                return-object
                required
              />
            </v-col>
          </v-row>
          <component :is="configurator" ref="configurator" />
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn @click="cancel">
          Cancel
        </v-btn>
        <v-btn @click="start">
          Let's go
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
let locations = {
  brest: {
    place_id: "ChIJk1uS2eG7FkgRqzCcF1iDSMY",
    description: "Brest, France",
    location: { lat: 48.390394, lon: -4.486075999999999 }
  },
  miami: {
    place_id: "ChIJEcHIDqKw2YgRZU-t3XHylv8",
    description: "Miami, FL, USA",
    location: { lat: 25.7616798, lon: -80.1917902 }
  },
  florence: {
    description: "Florence, Metropolitan City of Florence, Italy",
    location: {
      lat: 43.7695604,
      lon: 11.2558136
    }
  }
};

export default {
  data() {
    let algorithms = this.$vasco.algorithms;

    return {
      dialog: false,
      from: locations.brest,
      to: locations.florence,
      algorithms,
      algorithm: algorithms[0],
      q: 100,
      qMax: 1000
    };
  },
  computed: {
    configurator() {
      return this.algorithm.configurator;
    }
  },
  methods: {
    async start() {
      let name = this.algorithm.name;
      let props = await this.$refs.configurator.getProps();
      this.$vasco.socket.emit("run", { name, props });
      this.dialog = false;
    },
    cancel() {
      this.dialog = false;
    }
  }
};
</script>
