<template>
  <div id="mapContainer">
    <Progress ref="progress" />
    <div id="cesiumCredit" />
    <div id="cesiumContainer" />
  </div>
</template>

<script>
import "cesium/Build/Cesium/Widgets/widgets.css";
import axios from "axios";

import Progress from "./Progress";
export default {
  name: "VascoMap",
  components: {
    Progress
  },
  data() {
    return {
      loading: true,
      status: "loading map"
    };
  },
  computed: {
    $progress() {
      return this.$refs.progress;
    }
  },
  async mounted() {
    // show the loader
    this.$progress.message = "Preparing ...";
    this.$progress.progression.message = "loading the globe";
    this.$progress.open();

    this.viewer = new Cesium.Viewer("cesiumContainer", {
      // UI : hide useless things
      baseLayerPicker: false,
      homeButton: false,
      geocoder: false,
      animation: false,
      timeline: false,
      fullscreenButton: false,
      creditContainer: "cesiumCredit",
      // sceneMode: Cesium.SceneMode.SCENE2D,
      // projection
      mapProjection: new Cesium.WebMercatorProjection(),
      //no imagery (GeoJSON instead)
      imageryProvider: false
    });
    // globe settings
    let globe = this.viewer.scene.globe;
    globe.baseColor = Cesium.Color.fromCssColorString("#2196f3");
    globe.showGroundAtmosphere = false; // unwanted color effect
    // add lands
    let lands = new Cesium.GeoJsonDataSource();
    this.viewer.dataSources.add(lands);
    await lands.load("data/lands.cesium.json", {
      stroke: Cesium.Color.fromCssColorString("#1b3039"),
      fill: Cesium.Color.fromCssColorString("#1b3039")
    });

    // remove loader when rendered
    setTimeout(
      function() {
        this.$progress.close();
      }.bind(this),
      3000
    );

    // display wind
    // let viewer = this.viewer;
    // axios.get("data/wind.json").then(res => {
    //   let locations = res.data;
    //   let collection = new Cesium.EntityCollection();
    //   locations.forEach((loc, i) => {
    //     if (i % 100 == 0) {
    //       let { lon, lat, wind } = loc;
    //       // console.log(loc);
    //       let [u, v] = wind;
    //       let t = 10;
    //       let position = Cesium.Cartesian3.fromDegrees(lon, lat);
    //       let { x, y, z } = position;
    //       let entity = new Cesium.Entity({
    //         position,
    //         point: new Cesium.PointGraphics({
    //           show: true,
    //           scaleByDistance: new Cesium.NearFarScalar(10e3, 1, 10e6, 0.5),
    //           pixelSize: 10
    //         }),
    //         polyline: new Cesium.PolylineGraphics({
    //           positions: [
    //             position,
    //             new Cesium.Cartesian3((x + u) * t, (y + v) * t, z)
    //           ]
    //         })
    //       });
    //       viewer.entities.add(entity);
    //       collection.add(entity);
    //     }
    //   });
    //   // viewer.entities.add(collection);
    //   console.log(collection);
    //   // viewer.zoomTo(collection.values[0]);
    //   console.log("done");
    // });
  },
  methods: {}
};
</script>

<style lang="scss">
#mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

#cesiumContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#cesiumCredit {
  z-index: 0;
}
</style>
