<template>
  <v-app>
    <v-app-bar app dense>
      <v-toolbar-title>Vasco</v-toolbar-title>
      <v-spacer />
      {{ version }}
    </v-app-bar>

    <v-content>
      <v-container fluid class="fill-height ma-0 pa-0">
        <Map />
        <Dialog />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Map from "../components/Map";
import Dialog from "../components/Dialog";

export default {
  components: {
    Map,
    Dialog
  },
  data() {
    return {
      version: process.env.UI_VERSION
    };
  },
  mounted() {}
};
</script>

<style>
html {
  overflow: hidden !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}
</style>
